<p id="notice"><%= notice %></p>

<h1><%= @team.name %> (<%= @team.city %>, <%= @team.state %>)</h1> <%= link_to 'Edit Team', edit_team_path(@team), class:"btn" %>
<br><br><br><br>
<%= link_to 'View Roster', team_team_memberships_path(@team), class:"btn btn-info" %>

<br><br><br><br>
<h3>Games (<%= @games.count %>)</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>GameID</th>
      <th>Date</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.date %></td>
        <td><%= game.home_team.name %></td>
        <td><%= game.away_team.name %></td>
        <td><%= link_to 'show', game_path(game.id) %></td>
        <% if game.home_team == @team %>
          <td>Home vs. <%= game.away_team.name %></td>
          <% else %>
          <td>Away @ <%= game.home_team.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Game", new_game_path, class:"btn" %>

<br><br><br><br>
<h3>Plays</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>GameID</th>
      <th>DriveID</th>
      <th>PlayNum</th>
      <th>D/DIST</th>
      <th>Hash</th>
      <th>LOS</th>
      <th>Formation</th>
    </tr>
  </thead>

  <tbody>
    <% @team.plays.each do |play| %>
      <tr>
        <td><%= play.drive.game.id %></td>
        <td><%= play.drive.id %></td>
        <td><%= play.id %></td>
        <td><%= play.down %> - <%= play.distance %></td>
        <td><%= play.hashmark %></td>
        <td><%= play.los %></td>
        <td><%= play.formation %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', teams_path %>
