<%= simple_form_for(@drive, html: {class: 'form-horizontal'}) do |f| %>
  <% if @drive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drive.errors.count, "error") %> prohibited this drive from being saved:</h2>

      <ul>
      <% @drive.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input  :game_id,       label: 'Game ID' %>
  <%= f.input  :possession,    label: 'Possession' %>
  <%= f.input  :start_time,    label: 'Start Time' %>
  <%= f.input  :end_time,      label: 'End Time' %>
  <%= f.button :submit %>
<% end %>
