<h1>All Drives</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Game</th>
      <th>Possession</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drives.each do |drive| %>
      <tr>
        <td><%= drive.game_id %></td>
        <td><%= drive.possession %></td>
        <td><%= drive.start_time %></td>
        <td><%= drive.end_time %></td>
        <td colspan="3">
          <div class="btn-group">
            <%= link_to 'Show', drive, class: "btn btn-default btn-lg" %>
            <%= link_to 'Edit', edit_drive_path(drive), class: "btn btn-default btn-xs" %>
            <%= link_to 'Destroy', drive, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drive', new_drive_path, class: "btn btn-success btn-lg" %>
