<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @drive.game_id %>
</p>

<p>
  <strong>Possession (teamID):</strong>
  <%= @drive.possession %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @drive.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @drive.end_time %>
</p>
<p>
  <strong># of Plays:</strong>
  <%= @drive.plays.count %>
</p>

<br><br><br><br>
<h3>Plays in this Drive</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Play#</th>
      <th>D/DIST</th>
      <th>HASH</th>
      <th>LOS</th>
      <th>Formation</th>
      <th>Play</th>
      <th>Rusher</th>
      <th>Passer</th>
      <th>Receiver</th>
      <th>Result</th>
      <th>Yards</th>
      <!--<th>Comments</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drive.plays.each do |play| %>
      <tr>
        <td style="text-align:center;"><%= play.number %></td>
        <td style="text-align:center;"><%= play.down %> & <%= play.distance %></td>
        <td style="text-align:center;"><%= play.hashmark %></td>
        <td style="text-align:center;"><%= play.los %></td>
        <td><%= play.formation %></td>
        <td><%= play.playcall %></td>
        <td style="text-align:center;"><%= play.rusher %></td>
        <td style="text-align:center;"><%= play.passer %></td>
        <td style="text-align:center;"><%= play.receiver %></td>
        <td><%= play.result %></td>
        <td style="text-align:center;"><%= play.deltayards %></td>
        <td colspan="3">
          <div class="btn-group btn-group-xs">
            <%= link_to 'view', play, class:"btn btn-default btn-xs" %>
            <%= link_to 'edit', edit_play_path(play), class:"btn btn-default btn-xs" %>
            <%= link_to 'delete', play, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs" %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"/>
        <td colspan="12">
          <small><%= play.comments if play.comments %></small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_drive_path(@drive) %> |
<%= link_to 'Back', drives_path %>
