<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @drive.game_id %>
</p>

<p>
  <strong>Possession (teamID):</strong>
  <%= @drive.team.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @drive.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @drive.end_time %>
</p>
<p>
  <strong># of Plays:</strong>
  <%= @drive.plays.count %>
</p>
<p>
  <strong>Total Yards:</strong>
  <%= (@drive.plays).sum("deltayards") %>
</p>
<p>
  <strong>Playcall Mix:</strong>
  Run: <%= (@drive.plays.where('play_type = ?', 'Run')).count %> / Pass: <%= (@drive.plays.where('play_type = ?', 'Pass')).count %>
</p>
<p>
  <strong>Penalties:</strong>
  <%= (@drive.plays.where('penalty = ?', true)).count  %>
</p>


<br><br><br><br>
<h3>Plays in Drive #<%= @drive.id %></h3>
<%= link_to "Add A Play in this Drive", new_game_drive_play_path(@drive.game_id, @drive), class:"btn" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Play#</th>
      <th>D/DIST</th>
      <th>HASH</th>
      <th>LOS</th>
      <th>Formation</th>
      <th>Play</th>
      <th>Rusher</th>
      <th>Passer</th>
      <th>Receiver</th>
      <th>Result</th>
      <th>Yards</th>
      <!--<th>Comments</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drive.plays.each do |play| %>
      <tr>
        <td style="text-align:center;"><%= play.number %></td>
        <td style="text-align:center;"><%= play.down %> & <%= play.distance %></td>
        <td style="text-align:center;"><%= play.hashmark %></td>
        <td style="text-align:center;"><%= play.los %></td>
        <td><%= play.formation %></td>
        <td><%= play.playcall %></td>
        <td style="text-align:center;"><%= play.rusher %></td>
        <td style="text-align:center;"><%= play.passer %></td>
        <td style="text-align:center;"><%= play.receiver %></td>
        <td><%= play.result %></td>
        <td style="text-align:center;"><%= play.deltayards %></td>
        <td colspan="3">
          <div class="btn-group btn-group-xs">
            <%= link_to 'view', game_drive_play_path(@drive.game_id, @drive, play), class:"btn btn-default btn-xs" %>
            <%= link_to 'edit', edit_game_drive_play_path(@drive.game_id, @drive, play), class:"btn btn-default btn-xs" %>
            <%= link_to 'delete', play, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs" %>
          </div>
        </td>
      </tr>
      <% if play.penalty %>
        <tr>
          <td colspan="14" style="background-color:yellow">
            <%= play.penalty_call %> - <%= play.penalty_against %>: <%= play.penalty_yards %> yards, <%= play.result %>
          </td>
        </tr>
      <% else %>
      <tr>
        <td colspan="2"/>
        <td colspan="12">
          <small><%= play.comments if play.comments %></small>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Play', new_game_drive_play_path(@drive.game_id, @drive) %>
<%= link_to 'Edit', edit_game_drive_path(@drive.game_id, @drive) %> |
<%= link_to 'Destroy', @drive, method: :delete, data: { confirm: 'Are you sure about that?' } %> |
<%= link_to 'Back to Game', game_path(@drive.game_id) %>
