<%= form_for(@play) do |f| %>
  <% if @play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@play.errors.count, "error") %> prohibited this play from being saved:</h2>

      <ul>
      <% @play.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drive_id %>
    <%= f.number_field :drive_id %>
  </div>
  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :down %>
    <%= f.number_field :down %>
  </div>
  <div class="field">
    <%= f.label :distance %>
    <%= f.number_field :distance %>
  </div>
  <div class="field">
    <%= f.label :hashmark %>
    <%= f.text_field :hashmark %>
  </div>
  <div class="field">
    <%= f.label :los %>
    <%= f.number_field :los %>
  </div>
  <div class="field">
    <%= f.label :formation %>
    <%= f.text_field :formation %>
  </div>
  <div class="field">
    <%= f.label :playcall %>
    <%= f.text_field :playcall %>
  </div>
  <div class="field">
    <%= f.label :rusher %>
    <%= f.number_field :rusher %>
  </div>
  <div class="field">
    <%= f.label :passer %>
    <%= f.number_field :passer %>
  </div>
  <div class="field">
    <%= f.label :receiver %>
    <%= f.number_field :receiver %>
  </div>
  <div class="field">
    <%= f.label :result %>
    <%= f.text_field :result %>
  </div>
  <div class="field">
    <%= f.label :deltayards %>
    <%= f.number_field :deltayards %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
