<h1>All Plays</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Drive</th>
      <th>#</th>
      <th>DN</th>
      <th>DIST</th>
      <th>HASH</th>
      <th>LOS</th>
      <th>Formation</th>
      <th>Playcall</th>
      <th>Rusher</th>
      <th>Passer</th>
      <th>Receiver</th>
      <th>Result</th>
      <th>Yards</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @plays.each do |play| %>
      <tr>
        <td style="text-align:center;"><%= play.drive_id %></td>
        <td style="text-align:center;"><%= play.number %></td>
        <td style="text-align:center;"><%= play.down %></td>
        <td style="text-align:center;"><%= play.distance %></td>
        <td style="text-align:center;"><%= play.hashmark %></td>
        <td style="text-align:center;"><%= play.los %></td>
        <td><%= play.formation %></td>
        <td><%= play.playcall %></td>
        <td style="text-align:center;"><%= play.rusher %></td>
        <td style="text-align:center;"><%= play.passer %></td>
        <td style="text-align:center;"><%= play.receiver %></td>
        <td><%= play.result %></td>
        <td style="text-align:center;"><%= play.deltayards %></td>
        <td><%= play.comments %></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td colspan="5">
          <%= link_to 'Show', play, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_play_path(play), class: "btn btn-info" %>
          <%= link_to 'Destroy', play, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </td>
        <td colspan="7"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Play', new_play_path %>
