<h1>All Plays</h1>

  <%= link_to 'New Play', new_play_path, class:"btn btn-success" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>D/DIST</th>
      <th>HASH</th>
      <th>LOS</th>
      <th>Formation</th>
      <th>Play</th>
      <th>Rusher</th>
      <th>Passer</th>
      <th>Receiver</th>
      <th>Result</th>
      <th>Yards</th>
      <!--<th>Comments</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plays.each do |play| %>
      <tr>
        <td style="text-align:center;"><%= play.drive_id %> - <%= play.number %></td>
        <td style="text-align:center;"><%= play.down %> & <%= play.distance %></td>
        <td style="text-align:center;"><%= play.hashmark %></td>
        <td style="text-align:center;"><%= play.los %></td>
        <td><%= play.formation %></td>
        <td><%= play.playcall %></td>
        <td style="text-align:center;"><%= play.rusher %></td>
        <td style="text-align:center;"><%= play.passer %></td>
        <td style="text-align:center;"><%= play.receiver %></td>
        <td><%= play.result %></td>
        <td style="text-align:center;"><%= play.deltayards %></td>
        <td colspan="3">
          <div class="btn-group btn-group-xs">
            <%= link_to 'view', play, class:"btn btn-default btn-xs" %>
            <%= link_to 'edit', edit_play_path(play), class:"btn btn-default btn-xs" %>
            <%= link_to 'delete', play, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs" %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"/>
        <td colspan="12">
          <small><%= play.comments if play.comments %></small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Play', new_play_path, class:"btn btn-success" %>
