<p id="notice"><%= notice %></p>

<p>
  <strong>DriveNumber:</strong>
  <%= @play.drive_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @play.number %>
</p>

<p>
  <strong>Down:</strong>
  <%= @play.down %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @play.distance %>
</p>

<p>
  <strong>Hashmark:</strong>
  <%= @play.hashmark %>
</p>

<p>
  <strong>Los:</strong>
  <%= @play.los %>
</p>

<p>
  <strong>Formation:</strong>
  <%= @play.formation %>
</p>

<p>
  <strong>Playcall:</strong>
  <%= @play.playcall %>
</p>

<p>
  <strong>Rusher:</strong>
  <%= @play.rusher %>
</p>

<p>
  <strong>Passer:</strong>
  <%= @play.passer %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @play.receiver %>
</p>

<p>
  <strong>Result:</strong>
  <%= @play.result %>
</p>

<p>
  <strong>Deltayards:</strong>
  <%= @play.deltayards %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @play.comments %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
