<%= simple_form_for(@game, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date,		label: "Date" %>
    <%= f.input :home_team_id,	label: "Home Team" %>
    <%= f.input :away_team_id,	label: "Away Team" %>
  	<%= f.button :submit %>
  </div>
<% end %>
