<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Home team:</strong>
  <%= link_to @game.home_team.name, team_path(@game.home_team.id) %>
</p>

<p>
  <strong>Away team:</strong>
  <%= link_to @game.away_team.name, team_path(@game.away_team.id) %>
</p>
<br><br><br><br>
<h3>Drives in Game #<%= @game.id %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Possession</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game.drives.each do |drive| %>
      <tr>
        <td><%= drive.id %></td>
        <td><%= drive.team_id %></td>
        <td><%= drive.start_time %></td>
        <td><%= drive.end_time %></td>
        <td>
            <%= link_to 'show', game_drive_path(@game.id, drive), class:"btn" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Drive', new_drive_path(:game_id => @game.id) %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
