<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Home team:</strong>
  <%= link_to @game.home_team.name, team_path(@game.home_team.id) %>
</p>

<p>
  <strong>Away team:</strong>
  <%= link_to @game.away_team.name, team_path(@game.away_team.id) %>
</p>
<br><br><br><br>
Game Summary
<table class="table table-striped">
    <thead>
        <tr>
            <th>1st Downs</th>
            <th>Total Yards</th>
            <th>Passing</th>
            <th>Rushing</th>
            <th>Penalties</th>
            <th>3rd Down Conv.</th>
            <th>4th Down Conv.</th>
            <th>Turnovers</th>
            <th>Possession</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= (@game.plays.where("result = '1st Down'")).count %></td>
          <td><%= @game.plays.sum("deltayards") %></td>
          <td><%= (@game.plays.where('passer > -1')).sum("deltayards") %></td>
          <td><%= (@game.plays.where('rusher > -1')).sum("deltayards") %></td>
          <td><%= ((@game.plays.where('penalty = ?', true)).where('penalty_against = ?', 'Offense')).count %>/<%= ((@game.plays.where('penalty = ?', true)).where('penalty_against = ?', 'Offense')).sum("penalty_yards") %></td>
          <td><%= (@game.plays.where('down = ? AND first_down = ?', 3, true)).count %></td>
          <td><%= (@game.plays.where('down = ? AND first_down = ?', 4, true)).count %></td>
          <td>INT: <%= (@game.plays.where('interception = ?', true)).count %>, FUM: <%= (@game.plays.where('fumble_lost = ?', true)).count %></td>
          <td></td>
        </tr>
    </tbody>
</table>  
<br><br><br><br>
<h3>Hot Plays</h3>
<table class="table table-striped">
  <thead>
      <tr>
        <th>Formation</th>
        <th>Playcall</th>
        <th>Yards</th>
        <th>D/Dist</th>
        <th>Yardline</th>
      </tr>
  </thead>
  <tbody>
      <% (((@game.plays.where("deltayards IS NOT null")).order(deltayards: :desc)).limit(5)).each do |play|%>
      <tr>
        <td><%= link_to play.formation, play_path(play) %></td>
        <td><%= play.playcall %></td>
        <td><%= play.deltayards %></td>
        <td><%= play.down %> & <%= play.distance %></td>
        <td><%= play.los %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<br><br><br><br>
<h3>Cold Plays</h3>
<table class="table table-striped">
  <thead>
      <tr>
        <th>Formation</th>
        <th>Playcall</th>
        <th>Yards</th>
        <th>D/Dist</th>
        <th>Yardline</th>
      </tr>
  </thead>
  <tbody>
      <% (((@game.plays.where("deltayards IS NOT null")).order(deltayards: :asc)).limit(5)).each do |play|%>
      <tr>
        <td><%= link_to play.formation, play_path(play) %></td>
        <td><%= play.playcall %></td>
        <td><%= play.deltayards %></td>
        <td><%= play.down %> & <%= play.distance %></td>
        <td><%= play.los %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<br><br><br><br>
<h3>Drives in Game #<%= @game.id %></h3>
<%= link_to "Add a new Drive to this Game", new_game_drive_path(@game), class:"btn" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Possession</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game.drives.each do |drive| %>
      <tr>
        <td><%= drive.id %></td>
        <td><%= drive.team.name %></td>
        <td><%= drive.start_time %></td>
        <td><%= drive.end_time %></td>
        <td>
            <%= link_to 'show', game_drive_path(@game.id, drive.id), class:"btn" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @game.drives.each do |drive| %>
<h4>Drive #<%= drive.id %> (<%= drive.team.name %>)</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Play#</th>
      <th>D/DIST</th>
      <th>HASH</th>
      <th>LOS</th>
      <th>Formation</th>
      <th>Play</th>
      <th>Rusher</th>
      <th>Passer</th>
      <th>Receiver</th>
      <th>Result</th>
      <th>Yards</th>
      <!--<th>Comments</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% drive.plays.each do |play| %>
        <tr>
          <td style="text-align:center;"><%= play.number %></td>
          <td style="text-align:center;"><%= play.down %> & <%= play.distance %></td>
          <td style="text-align:center;"><%= play.hashmark %></td>
          <td style="text-align:center;"><%= play.los %></td>
          <td><%= play.formation %></td>
          <td><%= play.playcall %></td>
          <td style="text-align:center;"><%= play.rusher %></td>
          <td style="text-align:center;"><%= play.passer %></td>
          <td style="text-align:center;"><%= play.receiver %></td>
          <td><%= play.result %></td>
          <td style="text-align:center;"><%= play.deltayards %></td>
          <td colspan="3">
            <div class="btn-group btn-group-xs">
              <%= link_to 'view', game_drive_play_path(play.drive.game_id, play.drive_id, play), class:"btn btn-default btn-xs" %>
              <%= link_to 'edit', edit_play_path(play), class:"btn btn-default btn-xs" %>
              <%= link_to 'delete', play, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs" %>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2"/>
          <td colspan="12">
            <small><%= play.comments if play.comments %></small>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<% end %>



<%= link_to 'New Drive', new_game_drive_path(@game) %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
