<h1><%= @thisteam.name %> Roster</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Jersey #</th>
      <th>Team</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @team_memberships.each do |team_membership| %>
      <tr>
        <td><%= team_membership.jersey_num %></td>
        <td>
            <%= link_to person_path(team_membership.person_id) do %>
              <%= team_membership.person.last_name %>, <%= team_membership.person.first_name %>
            <% end %>
          </td>
        
        <td>
          <div class="btn-group">
            <%= link_to 'kick him off the team', team_membership, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_team_membership_path, class:"btn btn-success" %>
