<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "scRORbord", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<!--<li><%= link_to "People",		people_path %></li>
					<li><%= link_to "Memberships",	team_memberships_path %></li>
					<li><%= link_to "Teams",		teams_path %></li>-->
					<li><%= link_to "Games",		games_path %></li>
					<li><%= link_to "Drives",		drives_path %></li>
					<li><%= link_to "Plays",		plays_path %></li>
					<!--<li><%= link_to "Help",			help_path %></li>
					<li><%= link_to "Sign in",		'#' %></li>-->
				</ul>
			</nav>
		</div>
	</div>
</header>